{% extends "base.html" %}

{% block title %}{{ block.super }}|Reset E-mail {% endblock title %}


{% block content %}

<br>
<div class="container" >
    <div class="row "style="justify-content: center;text-align: center;">
        <div class="col-6">    
            <p>Inserisci La Tua Mail:</p>
            <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {% if form.email.errors %}
                    {{ form.email }}
                    {% endif %}
                    <p>{{ form.email }}</p>
                <input type="submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}