{% extends "base.html" %}

{% block title %}{{ block.super }}|Cambio Password {% endblock title %}


{% block content %}

<div class="container" >
    <div class="row "style="justify-content: center;text-align: center; margin-top:50px">
        <div class="col-6">
    {% if validlink %}
    <form action="" method="post" novalidate>
    {% csrf_token %}

        <table>
            <tr>
                <td>{{ form.new_password1.errors}}
                    <label for="id_new_password1" style="margin-top: 2.5px;">Nuova Password</label></td>
                <td>{{ form.new_password1}}</td>
            </tr>
            <br>
            <tr>
                <td>{{ form.new_password2.errors}}
                    <label for="id_new_password2" style="margin-top: 2.5px;">Conferma Password</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
                <tr>
                <td></td>
                <td><input type="submit" value="Cambio Password" class="btn btn-primary" style="margin-top: 5px;"></td>
            </tr>
        </table>
    </form>
{% else %}
    <h1>Errore</h1>
    <p>Il Link Non E' Più Valido</p>
{% endif %}
</div>
</div>
</div>

{% endblock %}