{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}| Crea Tipologia {% endblock title %}



{% block content %}
<br>                                                                                                    
<div class="container" >
    <div class="row "style="justify-content: center;text-align: center;">
        <div class="col-6">    
            <form action="" method="post" novalidate>
                <div class="my-3">
                {% csrf_token %}
                {% for field in form %}
                    <p>{{ field.label_tag }}</p>
                    <p>{{ field }}</p>
                {% endfor %}
                <input type="submit" name='Invia' Value='Crea Categoria' class="btn btn-primary">
            </div>
            </form>
        
       </div>
        </form>        
    </div>
</div>

{% endblock %}